USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[CONTACT]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[CONTACT](
	[CONTACTID] [dbo].[STANDARDID] NOT NULL,
	[TYPE] [varchar](64) NULL,
	[ACCOUNTID] [dbo].[STANDARDID] NULL,
	[ACCOUNT] [varchar](180) NULL,
	[DEPARTMENT] [varchar](32) NULL,
	[ISPRIMARY] [dbo].[BOOLEAN] NULL,
	[LASTNAME] [varchar](180) NULL,
	[FIRSTNAME] [varchar](180) NULL,
	[MIDDLENAME] [varchar](180) NULL,
	[PREFIX] [varchar](16) NULL,
	[SUFFIX] [varchar](16) NULL,
	[ADDRESSID] [dbo].[STANDARDID] NULL,
	[SHIPPINGID] [dbo].[STANDARDID] NULL,
	[WORKPHONE] [varchar](32) NULL,
	[HOMEPHONE] [varchar](32) NULL,
	[FAX] [varchar](32) NULL,
	[MOBILE] [varchar](32) NULL,
	[PAGER] [varchar](32) NULL,
	[PINNUMBER] [varchar](7) NULL,
	[PAGERNUMERIC] [varchar](32) NULL,
	[EMAIL] [varchar](128) NULL,
	[SECONDARYEMAIL] [varchar](128) NULL,
	[WEBADDRESS] [varchar](128) NULL,
	[DESCRIPTION] [varchar](128) NULL,
	[TITLE] [varchar](64) NULL,
	[ASSISTANT] [varchar](64) NULL,
	[BIRTHDAY] [datetime] NULL,
	[SPOUSE] [varchar](64) NULL,
	[SPOUSEBIRTHDAY] [datetime] NULL,
	[ALUMNI] [varchar](64) NULL,
	[YEARGRADUATED] [int] NULL,
	[INTERESTS] [varchar](128) NULL,
	[PREVIOUSEMPLOYER] [varchar](64) NULL,
	[DIRECTIONS] [dbo].[TEXTBLOB] NULL,
	[REPORTSTO] [varchar](64) NULL,
	[SECCODEID] [dbo].[STANDARDID] NOT NULL,
	[ACCOUNTMANAGERID] [dbo].[STANDARDID] NULL,
	[REGIONALMANAGERID] [dbo].[STANDARDID] NULL,
	[DIVISIONALMANAGERID] [dbo].[STANDARDID] NULL,
	[STATUS] [varchar](64) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [dbo].[STANDARDID] NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [dbo].[STANDARDID] NULL,
	[REFERRAL] [varchar](64) NULL,
	[LASTNAME_UC] [varchar](70) NULL,
	[INITIALS] [varchar](32) NULL,
	[ALTERNATEKEYPREFIX] [varchar](8) NULL,
	[ALTERNATEKEYSUFFIX] [varchar](24) NULL,
	[LOCATIONCODE] [dbo].[STANDARDID] NULL,
	[USERFIELD1] [varchar](80) NULL,
	[USERFIELD2] [varchar](80) NULL,
	[USERFIELD3] [varchar](80) NULL,
	[USERFIELD4] [varchar](80) NULL,
	[USERFIELD5] [varchar](80) NULL,
	[USERFIELD6] [varchar](80) NULL,
	[USERFIELD7] [varchar](80) NULL,
	[USERFIELD8] [varchar](80) NULL,
	[USERFIELD9] [varchar](80) NULL,
	[USERFIELD10] [varchar](80) NULL,
	[WEBPASSWORD] [varchar](20) NULL,
	[WEBUSERNAME] [varchar](30) NULL,
	[WEIGHT] [dbo].[STANDARDID] NULL,
	[DONOTSOLICIT] [dbo].[BOOLEAN] NULL,
	[SCORE] [varchar](32) NULL,
	[EMAIL3] [varchar](128) NULL,
	[DONOTEMAIL] [char](1) NULL,
	[DONOTPHONE] [char](1) NULL,
	[DONOTMAIL] [char](1) NULL,
	[DONOTFAX] [char](1) NULL,
	[IMPORTSOURCE] [varchar](24) NULL,
	[SUBTYPE] [varchar](64) NULL,
	[OTHERPHONE] [varchar](32) NULL,
	[PREFERRED_CONTACT] [varchar](64) NULL,
	[WEBPASSWORDHINT] [varchar](64) NULL,
	[ISSERVICEAUTHORIZED] [char](1) NULL,
	[CUISINEPREF] [varchar](64) NULL,
	[CHILDREN] [varchar](64) NULL,
	[LASTHISTORYDATE] [datetime] NULL,
	[LASTHISTORYBY] [char](12) NULL,
	[WEBADDRESS2] [varchar](128) NULL,
	[SALUTATION] [varchar](64) NULL,
	[USERFIELD11] [varchar](100) NULL,
	[USERFIELD12] [varchar](100) NULL,
	[USERFIELD13] [varchar](100) NULL,
	[USERFIELD14] [varchar](100) NULL,
	[USERFIELD15] [varchar](100) NULL,
	[USERFIELD16] [varchar](100) NULL,
	[REPRESENTANTE] [varchar](100) NULL,
	[REPRESENTANTE_CED] [varchar](32) NULL,
	[APARTADO] [varchar](60) NULL,
	[CUST_FEC_ALTA] [datetime] NULL,
	[CUST_CVE_PROM1] [varchar](32) NULL,
	[CUST_FEC_PODER_BITAL] [datetime] NULL,
	[CUST_CVE_PROM2] [varchar](32) NULL,
	[CUST_CVE_TIPO_CTE] [varchar](32) NULL,
	[EXTERNALACCOUNTNO] [varchar](32) NULL,
	[cust_sucur_origen] [varchar](50) NULL,
	[cust_activ_gener] [varchar](50) NULL,
	[cust_activ_espec] [varchar](50) NULL,
	[cust_fecha_creacion] [datetime] NULL,
	[CATEGORIES] [varchar](255) NULL,
	[GLOBALSYNCID] [varchar](36) NULL,
	[APPID] [varchar](12) NULL,
	[TICK] [int] NULL,
	[ACTIVEFLAG] [varchar](1) NULL,
	[GENDER] [varchar](16) NULL,
	[PREFERREDNAME] [varchar](32) NULL,
	[NATIONALITY] [varchar](64) NULL,
	[PRIMARYLANGUAGE] [varchar](2) NULL,
	[MARITALSTATUS] [varchar](32) NULL,
	[COMPANYCONTEXT] [varchar](32) NULL,
	[CREATESOURCE] [varchar](64) NULL,
	[SLXUSERASSOCIATIONID] [char](12) NULL,
	[CHANGEKEY] [varchar](36) NULL,
 CONSTRAINT [CONTACT_CONTACTID_PK] PRIMARY KEY NONCLUSTERED 
(
	[CONTACTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
