USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[PRODUCT]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[PRODUCT](
	[PRODUCTID] [dbo].[STANDARDID] NOT NULL,
	[NAME] [varchar](64) NULL,
	[DESCRIPTION] [dbo].[TEXTBLOB] NULL,
	[ACTUALID] [varchar](64) NULL,
	[FAMILY] [varchar](64) NULL,
	[PRICE] [decimal](17, 4) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [dbo].[STANDARDID] NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [dbo].[STANDARDID] NULL,
	[PRODUCTGROUP] [varchar](64) NULL,
	[STATUS] [varchar](64) NULL,
	[UNIT] [varchar](64) NULL,
	[STOCKVOLUME] [real] NULL,
	[STOCKWEIGHT] [real] NULL,
	[STOCKITEM] [dbo].[BOOLEAN] NULL,
	[PROGRAM] [varchar](64) NULL,
	[SUPPLIER] [varchar](128) NULL,
	[VENDOR] [varchar](128) NULL,
	[SITEID] [dbo].[STANDARDID] NULL,
	[WAREHOUSELOCATION] [varchar](10) NULL,
	[COMMISSIONABLE] [dbo].[BOOLEAN] NULL,
	[TAXABLE] [dbo].[BOOLEAN] NULL,
	[ACCOUNTINGPERIOD] [varchar](6) NULL,
	[GLACCOUNTNUMBER] [varchar](10) NULL,
	[GLSUBACCOUNTNUMBER] [varchar](24) NULL,
	[DATAOWNER] [varchar](2) NULL,
	[TYPE] [varchar](64) NULL,
	[FIXEDCOST] [decimal](17, 4) NULL,
	[PROD_ID] [varchar](50) NULL,
	[PROD_TYPE] [varchar](50) NULL,
	[GLOBALSYNCID] [varchar](36) NULL,
	[APPID] [varchar](12) NULL,
	[TICK] [int] NULL,
	[COMMODITYGROUPID] [char](12) NULL,
	[ACTIVEFLAG] [varchar](1) NULL,
	[SELLINGALLOWEDFLAG] [varchar](1) NULL,
	[UNITOFMEASUREID] [char](12) NULL,
	[SELLINGUOMID] [char](12) NULL,
	[SELLINGUOMNUMBER] [float] NULL,
	[CLASSIFICATION] [varchar](64) NULL,
	[COMMODITYTYPE] [varchar](32) NULL,
	[CREATESOURCE] [varchar](64) NULL,
 CONSTRAINT [PRODUCT_PRODUCTID_PK] PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
