USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[URGENCY]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[URGENCY](
	[URGENCYID] [dbo].[STANDARDID] NOT NULL,
	[URGENCYCODE] [dbo].[STANDARDID] NOT NULL,
	[DESCRIPTION] [varchar](80) NULL,
	[MINUTES] [int] NULL,
	[ENABLED] [dbo].[BOOLEAN] NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [dbo].[STANDARDID] NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [dbo].[STANDARDID] NULL,
	[ISDEFAULT] [char](1) NULL,
	[ALLOWWEBTICKET] [char](1) NULL,
 CONSTRAINT [URGENCY_URGENCYID] PRIMARY KEY NONCLUSTERED 
(
	[URGENCYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
