USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[TICKET]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[TICKET](
	[TICKETID] [char](12) NOT NULL,
	[ACCOUNTID] [char](12) NULL,
	[URGENCYCODE] [char](12) NULL,
	[STANDARDSOLUTIONID] [char](12) NULL,
	[CONTRACTID] [char](12) NULL,
	[STANDARDPROBLEMID] [char](12) NULL,
	[RECEIVEDDATE] [datetime] NULL,
	[RECEIVEDBYID] [char](12) NULL,
	[WEIGHTCODE] [char](12) NULL,
	[PRIORITY] [char](12) NULL,
	[ASSIGNEDTOID] [char](12) NULL,
	[ASSIGNEDDATE] [datetime] NULL,
	[NEEDEDBYDATE] [datetime] NULL,
	[COMPLETEDBYID] [char](12) NULL,
	[COMPLETEDDATE] [datetime] NULL,
	[CLOSED] [char](1) NULL,
	[FIRST] [char](1) NULL,
	[STATUSCODE] [char](12) NULL,
	[ALERT] [char](1) NULL,
	[INCIDENTUSED] [char](1) NULL,
	[ADDKNOWLEDGE] [char](1) NULL,
	[VIACODE] [varchar](100) NULL,
	[CONTACTID] [char](12) NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[USERFIELD1] [varchar](80) NULL,
	[USERFIELD2] [varchar](80) NULL,
	[USERFIELD3] [varchar](80) NULL,
	[USERFIELD4] [varchar](80) NULL,
	[USERFIELD5] [varchar](80) NULL,
	[USERFIELD6] [varchar](80) NULL,
	[USERFIELD7] [varchar](80) NULL,
	[USERFIELD8] [varchar](80) NULL,
	[USERFIELD9] [varchar](80) NULL,
	[USERFIELD10] [varchar](80) NULL,
	[ALTERNATEKEYPREFIX] [varchar](8) NULL,
	[ALTERNATEKEYSUFFIX] [varchar](24) NULL,
	[AREA] [varchar](200) NULL,
	[CATEGORY] [varchar](200) NULL,
	[ISSUE] [varchar](200) NULL,
	[NOTES] [text] NULL,
	[ALERTID] [char](12) NULL,
	[SECCODEID] [char](12) NOT NULL,
	[URGENCYID] [char](12) NULL,
	[CLOSEDONFIRST] [char](1) NULL,
	[PUBLICACCESSCODE] [char](12) NULL,
	[SUBJECT] [varchar](255) NULL,
	[SUBMITSEARCH] [char](1) NULL,
	[ACCOUNTPRODUCTID] [char](12) NULL,
	[WORKFLOWCODE] [varchar](32) NULL,
	[SECURITY_REQUIRED] [varchar](1) NULL,
	[SECURITY_PASSED] [varchar](1) NULL,
	[CAUSAL] [varchar](100) NULL,
	[R1] [varchar](200) NULL,
	[R2] [varchar](200) NULL,
	[R3] [varchar](200) NULL,
	[R4] [varchar](200) NULL,
	[R5] [varchar](200) NULL,
	[R6] [varchar](200) NULL,
	[R7] [varchar](200) NULL,
	[R8] [varchar](200) NULL,
	[R9] [varchar](200) NULL,
	[R10] [varchar](200) NULL,
	[ETAESTIMADA] [datetime] NULL,
	[TICKET_PRODUCTO] [varchar](64) NULL,
	[SUCURSAL] [varchar](100) NULL,
	[MONTODELRECLAMO] [numeric](17, 4) NULL,
	[TIPO_PRODUCTO] [varchar](64) NULL,
	[ES_QUEJA_FORMAL] [varchar](1) NULL,
	[ADQSUBTIPOTICKET] [varchar](32) NULL,
	[DIAS_DURACION] [float] NULL,
	[CREATESOURCE] [varchar](64) NULL,
	[FECHARESUELTO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
