USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[SECPROFILE]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[SECPROFILE](
	[PROFILEID] [dbo].[STANDARDID] NOT NULL,
	[PROFILEDESCRIPTION] [varchar](64) NULL,
	[PROFILEDATA] [dbo].[TEXTBLOB] NULL,
	[PROFILETYPE] [dbo].[BOOLEAN] NULL,
	[DEFAULTPERMISSION] [char](1) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
