USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[TICKETACTIVITY]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[TICKETACTIVITY](
	[TICKETACTIVITYID] [dbo].[STANDARDID] NOT NULL,
	[TICKETID] [dbo].[STANDARDID] NOT NULL,
	[RATETYPEDESC] [varchar](80) NULL,
	[ACTIVITYTYPECODE] [dbo].[STANDARDID] NULL,
	[USERID] [dbo].[STANDARDID] NULL,
	[DATEDUE] [datetime] NULL,
	[UNITS] [float] NULL,
	[SHORTDESC] [varchar](255) NULL,
	[ELAPSEDUNITS] [float] NULL,
	[ASSIGNEDDATE] [datetime] NULL,
	[COMPLETEDDATE] [datetime] NULL,
	[CREATEUSER] [dbo].[STANDARDID] NULL,
	[CREATEDATE] [datetime] NULL,
	[USERFIELD1] [varchar](80) NULL,
	[MODIFYUSER] [dbo].[STANDARDID] NULL,
	[USERFIELD2] [varchar](80) NULL,
	[MODIFYDATE] [datetime] NULL,
	[USERFIELD3] [varchar](80) NULL,
	[USERFIELD4] [varchar](80) NULL,
	[ACTIVITYDESC] [dbo].[TEXTBLOB] NULL,
	[USERFIELD5] [varchar](80) NULL,
	[USERFIELD6] [varchar](80) NULL,
	[USERFIELD7] [varchar](80) NULL,
	[USERFIELD8] [varchar](80) NULL,
	[USERFIELD9] [varchar](80) NULL,
	[USERFIELD10] [varchar](80) NULL,
	[FOLLOWUP] [dbo].[BOOLEAN] NULL,
	[TOTALLABOR] [float] NULL,
	[TOTALPARTS] [float] NULL,
	[TOTALFEE] [float] NULL,
	[RATE] [float] NULL,
	[PUBLICACCESSCODE] [char](12) NULL,
	[DATEESTIMATEEND] [datetime] NULL,
	[INICIOREAL] [datetime] NULL,
	[PREDECESORA] [int] NULL,
	[CREATESOURCE] [varchar](64) NULL,
 CONSTRAINT [TICKETACTIVITY_TICKETACTIVITYID_PK] PRIMARY KEY NONCLUSTERED 
(
	[TICKETACTIVITYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
