USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[SECFUNCTIONS]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[SECFUNCTIONS](
	[NAME] [varchar](128) NOT NULL,
	[PROGRAM] [int] NULL,
	[DISPLAYNAME] [varchar](64) NULL,
	[RESOURCEID] [varchar](15) NULL,
	[ISPARENT] [char](1) NULL,
	[DESCRIPTION] [varchar](64) NULL,
	[DEFAULTENABLED] [char](1) NULL,
	[PARENTNAME] [varchar](128) NULL,
	[ID] [int] NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
