USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[CONTACTPRODUCT]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[CONTACTPRODUCT](
	[CONTACTPRODUCTID] [char](12) NOT NULL,
	[CONTACTID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[CUST_NUMBER] [varchar](32) NULL,
	[PROD_ID] [varchar](15) NULL,
	[CPR_DATE_DESEM] [datetime] NULL,
	[CPR_CURR_BALANCE] [numeric](17, 4) NULL,
	[CPR_DATE_VENC] [datetime] NULL,
	[CPR_STATUS] [varchar](15) NULL,
	[CPR_ACCOUNT] [varchar](32) NULL,
	[CPR_PRODUCNAME] [varchar](80) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
