USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[USERROLE]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[USERROLE](
	[USERROLEID] [char](12) NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[USERID] [char](12) NULL,
	[ROLEID] [char](12) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
