USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[PACKAGES]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[PACKAGES](
	[PACKAGESID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[NAME] [varchar](64) NULL,
	[DESCRIPTION] [varchar](256) NULL,
	[STATUS] [varchar](64) NULL,
 CONSTRAINT [PACKAGES_PACKAGESID_PK] PRIMARY KEY CLUSTERED 
(
	[PACKAGESID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
