USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[AREACATEGORYISSUE]    Script Date: 08/14/2015 16:36:40 ******/
SET ARITHABORT ON
GO
SET CONCAT_NULL_YIELDS_NULL ON
GO
SET ANSI_NULLS ON
GO
SET ANSI_PADDING ON
GO
SET ANSI_WARNINGS ON
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [sysdba].[AREACATEGORYISSUE](
	[AREACATEGORYISSUEID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[AREA] [varchar](200) NULL,
	[CATEGORY] [varchar](200) NULL,
	[ISSUE] [varchar](200) NULL,
	[TICKET] [char](1) NULL,
	[DEFECT] [char](1) NULL,
	[CUSTOMER] [char](1) NULL,
	[AREACATEGORY]  AS ((([CATEGORY]+' / (')+[AREA])+')'),
	[TIPOACI] [varchar](5) NULL,
 CONSTRAINT [AREACATEGORYISSUE_AREACATEGORYISSUEID_PK] PRIMARY KEY NONCLUSTERED 
(
	[AREACATEGORYISSUEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
