USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[USERPROFILE]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[USERPROFILE](
	[USERID] [dbo].[STANDARDID] NOT NULL,
	[ASSETID] [dbo].[STANDARDID] NULL,
	[ASSETDESC] [varchar](64) NULL,
	[HIREDATE] [datetime] NULL,
	[BIRTHDATE] [datetime] NULL,
	[SPOUSE] [varchar](64) NULL,
	[SSN] [dbo].[STANDARDID] NULL,
	[EMPLOYEENUMBER] [dbo].[STANDARDID] NULL,
	[USERDATE1] [datetime] NULL,
	[USERDATE2] [datetime] NULL,
	[USERDATE3] [datetime] NULL,
	[USERDATE4] [datetime] NULL,
	[USERDATE5] [datetime] NULL,
	[USERTEXT1] [varchar](255) NULL,
	[USERTEXT2] [varchar](255) NULL,
	[USERTEXT3] [varchar](255) NULL,
	[USERTEXT4] [varchar](255) NULL,
	[USERTEXT5] [varchar](255) NULL,
	[USERNUM1] [real] NULL,
	[USERNUM2] [real] NULL,
	[USERNUM3] [real] NULL,
	[USERNUM4] [real] NULL,
	[USERNUM5] [real] NULL,
	[NOTES] [dbo].[TEXTBLOB] NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL,
 CONSTRAINT [USERPROFILE_USERID_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
