USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[USERSECURITY]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[USERSECURITY](
	[USERID] [dbo].[STANDARDID] NOT NULL,
	[USERCODE] [varchar](30) NULL,
	[TYPE] [dbo].[BOOLEAN] NULL,
	[ACCESSLEVEL] [varchar](20) NULL,
	[CLIENTLOGPTR] [dbo].[STANDARDID] NULL,
	[HOSTLOGPTR] [dbo].[STANDARDID] NULL,
	[LOGTHRESHOLD] [smallint] NULL,
	[MANAGERID] [dbo].[STANDARDID] NULL,
	[DEFAULTSECCODEID] [dbo].[STANDARDID] NOT NULL,
	[ADDMEMBERS] [dbo].[BOOLEAN] NULL,
	[DELMEMBERS] [dbo].[BOOLEAN] NULL,
	[CREATETEAMS] [dbo].[BOOLEAN] NULL,
	[ISMANAGER] [dbo].[BOOLEAN] NULL,
	[FUNCTIONS] [varchar](255) NULL,
	[ENABLED] [dbo].[BOOLEAN] NULL,
	[PRIVATEACCOUNTID] [dbo].[STANDARDID] NULL,
	[PRIMARYSITE] [dbo].[STANDARDID] NULL,
	[LASTRNFILE] [int] NULL,
	[LASTSENDDATE] [datetime] NULL,
	[SECURITY] [dbo].[DATABLOB] NULL,
	[USERPW] [varchar](128) NULL,
	[SUPPORTUSER] [dbo].[BOOLEAN] NULL,
	[ADMINROLE] [dbo].[STANDARDID] NULL,
	[USERTEMPLATE] [varchar](30) NULL,
	[ISWEBADMIN] [char](1) NULL,
	[CUSTOMERSERVICEUSER] [char](1) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL,
	[PWCHANGEDATE] [datetime] NULL,
	[LOGINATTEMPTS] [smallint] NULL,
	[FAILEDATTEMPTDATE] [datetime] NULL,
 CONSTRAINT [USERSECURITY_USERID_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
