USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[USERINFO]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[USERINFO](
	[USERID] [char](12) NOT NULL,
	[TITLE] [varchar](32) NULL,
	[USERNAME] [varchar](64) NULL,
	[REGION] [varchar](32) NULL,
	[DIVISION] [varchar](32) NULL,
	[DEPARTMENT] [varchar](32) NULL,
	[EMAIL] [varchar](128) NULL,
	[PHONE] [varchar](32) NULL,
	[DIRECT] [varchar](32) NULL,
	[HOME] [varchar](32) NULL,
	[FAX] [varchar](32) NULL,
	[MOBILE] [varchar](32) NULL,
	[PINNUMBER] [varchar](32) NULL,
	[PAGERTERM] [varchar](32) NULL,
	[ADDRESSID] [char](12) NULL,
	[HOMEADDRESSID] [char](12) NULL,
	[ALTADDRESSID] [char](12) NULL,
	[LASTNAME] [varchar](32) NULL,
	[FIRSTNAME] [varchar](32) NULL,
	[MIDDLENAME] [varchar](32) NULL,
	[PREFIX] [varchar](16) NULL,
	[SUFFIX] [varchar](16) NULL,
	[ACCOUNTINGUSERID] [varchar](512) NULL,
	[AVAILABLE] [char](1) NULL,
	[DEFAULTADDKNOWLEDGE] [char](1) NULL,
	[DEFECTNOTIFY] [char](1) NULL,
	[TICKETNOTIFY] [char](1) NULL,
	[PAGERMESSAGELENGTH] [float] NULL,
	[USERCOMPANY] [varchar](128) NULL,
	[TIMEZONE] [varchar](64) NULL,
	[WINDOWSSID] [varchar](255) NULL,
	[USEWINDOWSAUTH] [char](1) NULL,
	[SPEEDSEARCHAPPROVAL] [char](1) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL,
 CONSTRAINT [USERINFO_USERID_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
