USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[CONTRACT]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[CONTRACT](
	[CONTRACTID] [char](12) NOT NULL,
	[ACCOUNTID] [char](12) NOT NULL,
	[SERVICECODE] [char](12) NULL,
	[TYPECODE] [char](12) NULL,
	[PURCHASEDATE] [datetime] NULL,
	[PERIOD] [float] NULL,
	[STARTDATE] [datetime] NULL,
	[ENDINGDATE] [datetime] NULL,
	[CONTRACTLEFT] [varchar](32) NULL,
	[BLANKET] [char](1) NULL,
	[FIRSTCALL] [char](1) NULL,
	[FIRSTTICKET] [char](1) NULL,
	[GRACEPERIOD] [int] NULL,
	[FIRSTDATE] [datetime] NULL,
	[AMOUNT] [decimal](17, 4) NULL,
	[CREATEUSER] [char](12) NULL,
	[NOTES] [text] NULL,
	[USERFIELD1] [varchar](80) NULL,
	[CREATEDATE] [datetime] NULL,
	[USERFIELD2] [varchar](80) NULL,
	[MODIFYUSER] [char](12) NULL,
	[USERFIELD3] [varchar](80) NULL,
	[MODIFYDATE] [datetime] NULL,
	[USERFIELD4] [varchar](80) NULL,
	[USERFIELD5] [varchar](80) NULL,
	[USERFIELD6] [varchar](80) NULL,
	[USERFIELD7] [varchar](80) NULL,
	[USERFIELD8] [varchar](80) NULL,
	[USERFIELD9] [varchar](80) NULL,
	[USERFIELD10] [varchar](80) NULL,
	[REMAINING] [float] NULL,
	[CONTACTID] [char](12) NULL,
	[LISTPRICE] [decimal](17, 4) NULL,
	[PONUMBER] [varchar](64) NULL,
	[DISCOUNT] [float] NULL,
	[ISACTIVE] [char](1) NULL,
	[REFERENCENO] [varchar](128) NULL,
	[SECCODEID] [char](12) NULL,
 CONSTRAINT [CONTRACT_CONTRACTID_PK] PRIMARY KEY NONCLUSTERED 
(
	[CONTRACTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
