USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[PRODUCT_DETAIL]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[PRODUCT_DETAIL](
	[PRODUCTID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[PROD_ID] [varchar](32) NULL,
	[PROD_TYPE] [varchar](100) NULL,
	[PROD_DESCRIPCION] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
