USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[SECTABLEDEFS]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[SECTABLEDEFS](
	[TABLENAME] [varchar](32) NOT NULL,
	[FIELDNAME] [varchar](32) NOT NULL,
	[FIELDOFFSET] [smallint] NULL,
	[FIELDINDEX] [smallint] NULL,
	[SEQCODE] [dbo].[BOOLEAN] NULL,
	[KEYFLAG] [smallint] NULL,
	[SYNC] [dbo].[BOOLEAN] NULL,
	[USERDEF] [dbo].[BOOLEAN] NULL,
	[DISPLAYNAME] [varchar](64) NULL,
	[ISHIDDEN] [dbo].[BOOLEAN] NULL,
	[DATETIMETYPE] [char](1) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[AUTOINCREMENT] [char](1) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL,
 CONSTRAINT [SECTABLEDEFS_COMPOSITE_PK] PRIMARY KEY CLUSTERED 
(
	[TABLENAME] ASC,
	[FIELDNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
