USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[SITEKEYS]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[SITEKEYS](
	[SITECODE] [dbo].[STANDARDID] NOT NULL,
	[KEYTYPE] [int] NOT NULL,
	[KEYVALUE] [varchar](32) NULL,
	[KEYDESC] [varchar](255) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEUSER] [char](12) NULL,
 CONSTRAINT [SITEKEYS_SITECODE_KEYTYPE_PK] PRIMARY KEY CLUSTERED 
(
	[SITECODE] ASC,
	[KEYTYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
