USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[PRODUCTPROGRAM]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[PRODUCTPROGRAM](
	[PRODUCTPROGRAMID] [char](12) NOT NULL,
	[PRODUCTID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[PROGRAM] [varchar](32) NULL,
	[PRICE] [decimal](17, 4) NULL,
	[DEFAULTPROGRAM] [char](1) NULL,
	[PRODUCT_TYPE] [varchar](32) NULL,
	[PROD_ID] [varchar](32) NULL,
 CONSTRAINT [PRODUCTPROGRAM_PRODUCTPROGRAMID_PK] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTPROGRAMID] ASC,
	[PRODUCTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
