USE [SLX-PRODUCCION]
GO
/****** Object:  Table [sysdba].[ROLE]    Script Date: 08/14/2015 16:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sysdba].[ROLE](
	[ROLEID] [char](12) NOT NULL,
	[CREATEUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYUSER] [char](12) NULL,
	[MODIFYDATE] [datetime] NULL,
	[ROLENAME] [varchar](64) NULL,
	[ROLEDESCRIPTION] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
